.text-container{

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-container h1{
    font-size: 150px;
    color: rgba(225,225,225, .1);
    background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    -webkit-background-clip:text;
    animation: animate 15s linear infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  
    @keyframes animate {
      0%{
        background-position: left 0px top 10px;
      }
      40%{
        background-position: left 800px top 10px;
    }
}