@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.homeDiv{
    display: flex;
    background-image: linear-gradient(to top right,#fac90624,#ff660014 50%,#cc330025);
 

}
.homeBody{
  justify-content: space-around;

}
.homeText{
    font-size: 85px;
    color: #0070b5;
    font-family: 'Share Tech Mono', monospace;

}

.sum{
  width: 600px;
  height: 300px;
  padding: 20px;
  background-color: white;
 
 
}

.Profile{
    height: 500px;
    width: 400px;
    border-radius: 90px;
}
.hand{
    font-size: 100px;
    display: inline-block;
    animation: wave 2s linear infinite;
}

@keyframes wave {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(30deg);
    }
  }

  .list{
    list-style: none;
    font-size: 30px;
  
  }

  @media screen and (max-width: 1200px) {
    .homeText{
      font-size: 60px;
    }
    .hand{
      font-size: 70px;
    }
  }

  @media screen and (max-width: 1050px) {
    .Profile{
      height: 350px;
      width: 350px;
    }
    .sum{
      width: 450px;
      height: 280px;
      padding: 20px;
    }
  }
  @media screen and (max-width: 850px){
    .homeText{
      font-size: 40px;
    }
    .hand{
      font-size: 50px;
    }
    .list{
      font-size: 20px;
    }
    .Profile{
      height: 350px;
      width: 350px;
    }
    .myStory{
      font-size: 15px;
    }
    .sum{
      width: 350px;
      height: 280px;
      padding: 20px;
      font-size: 12px;
    }


  }

  @media screen and (max-width: 720px){
    .Profile{
      height: 350px;
      width: 350px;
      margin-bottom: 25px;
    }
    .list{
      font-size: 30px;
    }
    
    .homeBody{
      display: flex;
 
      flex-wrap: wrap;
      flex-direction: column;
    }
    .sum{
      width: 350px;
      height: 280px;
      padding: 20px;
      font-size: 14px;
    }
  }

  @media screen and (max-width:600px){
    .homeText{
      font-size: 28px;
    }
    .hand{
      font-size: 35px;
    }
  }

  @media screen and (max-width:420px){
    .homeText{
      font-size: 25px;
    }
    .hand{
      font-size: 30px;
    }
    .Profile{
      height: 300px;
      width: 300px;
    }
  }

  @media screen and (max-width:320px){
    .homeText{
      font-size: 16px;
    }
    .hand{
      font-size: 20px;
    }
    .Profile{
      height: 200px;
      width: 200px;
    }
    .list{
      font-size: 20px;
    }
    .sum{
      width: 250px;
      height: 180px;
      padding: 20px;
      font-size: 8px;
    }
  }