@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


#contact{
    background-image: linear-gradient(to top right,#fac90624,#ff660014 50%,#cc330025);
}
.contact-header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 85px;
    color: #0070b5;
    font-family: 'Share Tech Mono', monospace;
  }
  /* Styling for the custom send message button */
  .custom-send-message-button {
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  /* Styling for the custom send message button when hovered over */
  .custom-send-message-button:hover {
    background-color: #16651a;
    color: white;
  }

  @media screen and (max-width:650px) {
    .contact-header{
      font-size: 65px;
    }
  }
  @media screen and (max-width:420px) {
    .contact-header{
      font-size: 35px;
    }
  }